@media only screen and (min-width: 1920px){
    // Desktop
    .container {
        max-width: 1920px;
        width: 1597px;
    }
    .header{
        .header_container {
            .header_navbar {
                &__logo {
                    width: 178px;
                    height: 60px;
                }
                &__list {
                    @include dFlex;
                    gap: 30px;
                    .header_navbar__link{
                        font-size: 18px;
                        padding: 14px 0;
                        &--check{
                            padding: 14px 24px;
                            border-radius: 8px;
                        }
                    }
                }
                &__button{
                    border-radius: 8px;
                    padding: 16px 24px;
                    font-size: 18px;
                }
            }
        }
    }

    .main{
        .main_content{
            .hero{
                background-size: 1596px 336px;
                .hero__back{
                    gap: 14px;
                    padding: 120px 300px;
                    .hero__title{
                        font-size: 48px;
                    }
                    .hero__subtitle{
                        font-size: 20px;                
                    }
                }
            }
            .page_container{
                padding-top: 120px;
                .page_container__top{
                    padding: 0 50px 50px 50px;
                    .page_container__title{
                        font-size: 48px;
                        margin-bottom: 14px;
                    }
                    .page_container__subtitle{
                        font-size: 18px;
                        width: 1196px;
                        margin-bottom: 50px;
                    }
                    .page_container__view{
                        border-radius: 8px;
                        padding: 12px 14px;
                        font-size: 22px;
                        max-width: 296px;
                    }
                }
                .page_subcontainer{
                    .page_subcontainer__title{
                        margin: 50px 0 50px 50px;
                        font-size: 28px;
                    }
                    .page_subcontainer__group{
                        .page_subcontainer__line{
                            min-height: 278px;
                            &--height{
                                min-height: 313px;
                            }
                        }
                        .page_subcontainer__card{
                            gap: 30px;
                            padding: 50px;
                            max-width: 399px;
                            width: 100%;
                            min-height: 278px;
                            &--height{
                                min-height: 308px;
                            }
                            .page_subcontainer__link{
                                padding: 24px;
                                border-radius: 12px;
                                .page_subcontainer__img{
                                    width: 40px;
                                    height: 40px;
                                    vertical-align: middle;
                                }
                            }
                            .page_subcontainer__text{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .project{
                background-size: 1595px 624px;
                .project_content{
                    padding: 120px 350px;
                    &__img {
                        width: 80px;
                        height: 80px;
                        margin-bottom: 50px;
                    }
                    &__title{
                        font-size: 38px;
                        margin-bottom: 14px;
                    }
                    &__text{
                        font-size: 18px;
                        width: 895px;
                        margin-bottom: 50px;
                    }
                    .project_content__btn{
                        border-radius: 12px;
                        padding: 18px 34px;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .footer{
        padding: 50px 0;
        .footer_container{
            .footer_navbar{
                &__logo{
                    width: 178px;
                    height: 60px;
                }
                &__right{
                    gap: 108px;
                    .footer_navbar__list{
                        gap: 30px;
                        .footer_navbar__link{
                            font-size: 18px;
                        }
                    }
                    .footer_navbar__group{
                        padding: 14px 14px 14px 24px;
                        border-radius: 12px;
                        .footer_navbar__excerpt{
                            font-size: 18px;
                        }
                        .footer_bott__social{
                            gap: 14px;
                            .footer_bott__media{
                                border-radius: 8px;
                                padding: 20px;
                                width: 66px;
                                height: 66px;
                                .footer_navbar__icon{
                                    width: 24px;
                                    height: 24px;
                                }   
                            }
                        }
                    }
                }
            }
            .footer_line{
                margin: 50px 0;
            }
            .footer_bott{
                .footer_bott__group{
                    gap: 30px;
                    .footer_bott__link{
                        font-size: 18px;
                        padding-bottom: 16px;
                        .footer_bott__image{
                            margin-right: 10px;
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
                &__copy{
                    font-size: 18px;
                }
            }
    
        }
    }
}

@media only screen and (max-width: 768px){
    // Mobile
    .container {
        max-width: 390px;
        width: 358px;
    }
    .header{
        padding: 40px 0 20px 0;
        .header_container {
            .header_navbar {
                &__list{
                    display: none;
                }
                &__button{
                    display: none;
                }
                &__menu{
                    display: block;
                }
            }
        }
    }

    .main{
        .main_content{
            .hero{
                background-size: 358px 158px;
                .hero__back{
                    gap: 6px;
                    padding: 50px 16px;
                    .hero__title{
                        font-size: 28px;
                    }
                    .hero__subtitle{
                        font-size: 14px;                
                    }
                }
            }
            .page_container{
                border: 1px solid var(--grey-15, #262626);
                padding-top: 40px;
                .page_container__top{
                    padding: 0 16px 40px 16px;
                    .page_container__title{
                        font-size: 28px;
                        margin-bottom: 6px;
                    }
                    .page_container__subtitle{
                        font-size: 14px;
                        width: 326px;
                        margin-bottom: 30px;
                    }
                    .page_container__view{
                        font-size: 16px;
                        max-width: 215px;
                    }
                }
                .page_subcontainer{
                    .page_subcontainer__title{
                        margin: 40px 0;
                        text-align: center;
                        font-size: 20px;
                    }
                    .page_subcontainer__group{
                        flex-wrap: wrap;
                        .page_subcontainer__line{
                            width: 1px;
                            min-height: 188px;
                            &--none{
                                min-height: 0;
                                height: 1px;
                                width: 100%;
                            }
                        }
                        .page_subcontainer__card{
                            gap: 20px;
                            padding: 20px;
                            max-width: 177.5px;
                            min-height: 188px;
                            &--height{
                                min-height: 240px;
                            }
                            &--border{
                                vertical-align: middle;
                            }
                            .page_subcontainer__link{
                                padding: 16px;
                                border-radius: 6px;
                                min-width: 56px;
                                max-width: 58px;
                                min-height: 56px;
                                max-height: 58px;
                                .page_subcontainer__img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .project{
                background-size: 358px 463px;
                .project_content{
                    padding: 50px 16px;
                    &__img {
                        width: 50px;
                        height: 50px;
                        margin-bottom: 28px;
                    }
                    &__title{
                        font-size: 24px;
                        margin-bottom: 8px;
                    }
                    &__text{
                        font-size: 14px;
                        margin-bottom: 28px;
                        width: 326px;
                    }
                }
            }
        }
    }
    
    .footer{
        padding: 30px 0;
        border-top: 1px solid var(--grey-15, #262626);
        .footer_container{
            max-width: 358px;
            .footer_navbar{
                @include dFlex;
                gap: 30px;
                flex-direction: column;
                margin-bottom: 30px;
                &__logo{
                    width: 148px;
                    height: 50px;
                }
                &__right{
                    gap: 30px;
                    flex-direction: column;
                    .footer_navbar__list{
                        min-width: 358px;
                        @include dFlex;
                        flex-wrap: wrap;
                        gap: 20px;
                    }
                    .footer_navbar__group{
                        width: 100%;
                        flex-direction: column;
                        gap: 14px;
                        padding: 16px 10px 16px 20px;
                    }
                }
            }
            .footer_line{
                display: none;
                &--logo{
                    display: block;
                    margin: 0;
                }
            }
            .footer_bott{
                @include dFlex;
                flex-direction: column;
                gap: 20px;
                &__group{
                    @include dFlex;
                    flex-direction: column;
                    gap: 0;
                    width: 100%;
                    .footer_bott__link{
                        @include dFlex;
                        font-size: 18px;
                        padding: 20px 0;
                        width: 100%;
                        .footer_bott__image{
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
                &__copy{
                    font-size: 16px;
                }
            }
    
        }
    }
}