@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src:  local('Barlow Regular'),
    url('/assets/font/Barlow/Barlow-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    src:  local('Barlow Medium'),
    url('/assets/font/Barlow/Barlow-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    src:  local('Barlow SemiBold'),
    url('/assets/font/Barlow/Barlow-SemiBold.ttf') format('truetype');
}
