.header{
    padding: 20px 0;
    .header_container {
        .header_navbar {
            @include dFlex( space-between, center);
            &__logo {
                width: 118px;
                height: 40px;
                vertical-align: middle;
            }
            &__list {
                @include dFlex;
                gap: 24px;
                .header_navbar__link{
                    color: var(--grey-90, #E6E6E6);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 150%;
                    padding: 12px 0;
                    transition: all 0.4s ease;
                    &--check{
                        padding: 12px 18px;
                        color: #FFF;
                        font-weight: 600;
                        border-radius: 6px;
                        background: #262626;
                    }
                    &:hover{
                        color: #FFF;
                    }
                }
            }
            &__button{
                border-radius: 6px;
                padding: 12px 18px;
                color: var(--grey-15, #262626);
                font-size: 14px;
                font-weight: 500;
                line-height: 150%;
            }
            &__menu{
                display: none;
                width: 34px;
                height: 34px;
                padding: 6px;
                border-radius: 6px;
                background-color: #262626;
            }
        }
    }
}